* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(68.66deg, #1a2a6c 0%, #b21f1f 51.04%, #fdbb2d 100%) no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1140px;
  padding: 0 16px;
  margin: 0 auto;
  height: 100%;
}

.header {
  position: fixed;
  width: 100%;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 85px;
}

.header__content .score {
  font-size: 20px;
  font-weight: 400;
  line-height: 52px;
  color: #ffffff;
  text-transform: uppercase;
}

.header__content .score span {
  margin-left: 5px;
}

.header__content .highscore {
  font-size: 20px;
  font-weight: 400;
  line-height: 52px;
  color: #ffffff;
  margin-left: 66px;
  margin-right: auto;
  text-transform: uppercase;
}

.header__content .highscore span {
  margin-left: 5px;
}

.header__content .btn-again {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  font-size: 20px;
  font-weight: 400;
  line-height: 52px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 16px;
  border-radius: 5px;
  cursor: pointer;
}

.header__content .btn-again span {
  margin-right: 16px;
}

.header__content .btn-again:hover {
  background: rgba(255, 255, 255, 0.1);
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__inner {
  height: 100%;
}

.section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__content h2 {
  font-size: 52px;
  font-weight: 500;
  line-height: 63.39px;
  letter-spacing: 5px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 10px;
}

.section__content .secret-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  width: 150px;
  height: 150px;
  margin-top: 30px;
}

.section__content .secret-number span {
  font-size: 72px;
  font-weight: 700;
  line-height: 87.77px;
  color: #ffffff;
  margin-top: 32px;
}

.section__content .message {
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  color: #ffffff;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 35px;
}

.section__content .instruct {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  margin-top: 20px;
}

.section__content .group-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 46px;
}

.section__content .group-btn input {
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  padding: 18px 22px;
  width: 100%;
  background: transparent;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
}

.section__content .group-btn input::-webkit-input-placeholder {
  color: #ffffff;
}

.section__content .group-btn input:-ms-input-placeholder {
  color: #ffffff;
}

.section__content .group-btn input::-ms-input-placeholder {
  color: #ffffff;
}

.section__content .group-btn input::placeholder {
  color: #ffffff;
}

.section__content .group-btn input:focus {
  background: rgba(255, 255, 255, 0.1);
  outline: none;
}

.section__content .group-btn input:hover {
  background: rgba(255, 255, 255, 0.1);
}

.section__content .group-btn button {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  background: transparent;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 27px;
  text-transform: uppercase;
  border-left: none;
}

.section__content .group-btn button:hover {
  background: rgba(255, 255, 255, 0.1);
}
/*# sourceMappingURL=style.css.map */