* {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

@mixin flex {
   display: flex;
   align-items: center;
}

@mixin text($font-size, $font-weight, $line-height) {
   font-size: $font-size;
   font-weight: $font-weight;
   line-height: $line-height;
}

body {
   background: linear-gradient(68.66deg, #24ad49 0%, #e0da3c 100%) no-repeat;
   height: 100vh;
   display: flex;
   flex-direction: column;
}
.container {
   max-width: 1140px;
   padding: 0 16px;
   margin: 0 auto;
   height: 100%;
}
.header {
   position: fixed;
   // z-index: 1;
   width: 100%;
   &__content {
      @include flex;
      width: 100%;
      height: 85px;
      // height: 15vh;
      .score {
         @include text(20px, 400, 52px);
         color: #ffffff;
         text-transform: uppercase;
         width: 104px;
         span {
            margin-left: 5px;
         }
      }
      .highscore {
         @include text(20px, 400, 52px);
         color: #ffffff;
         margin-left: 66px;
         margin-right: auto;
         text-transform: uppercase;
         width: 146px;

         span {
            margin-left: 5px;
         }
      }
      .btn-again {
         @include flex;
         background: transparent;
         @include text(20px, 400, 52px);
         color: #ffffff;
         text-transform: uppercase;
         padding: 0 16px;
         border-radius: 5px;
         cursor: pointer;
         span {
            margin-right: 16px;
         }
         &:hover {
            background: rgba(255, 255, 255, 0.1);
         }
      }
   }
}

.section {
   display: flex;
   height: 100%;
   align-items: center;

   &__inner {
      height: 100%;
   }
   &__content {
      @include flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      h2 {
         @include text(52px, 500, 63.39px);
         letter-spacing: 5px;
         color: #ffffff;
         text-transform: uppercase;
         margin-top: 10px;
      }
      .secret-number {
         @include flex;
         flex-direction: column;
         border-radius: 50%;
         background-color: rgba(255, 255, 255, 0.2);
         width: 150px;
         height: 150px;
         margin-top: 30px;
         span {
            @include text(72px, 700, 87.77px);
            color: #ffffff;
            margin-top: 32px;
         }
      }
      .message {
         @include text(28px, 400, 34px);
         color: #ffffff;
         letter-spacing: 5px;
         text-transform: uppercase;
         margin-top: 35px;
      }
      .instruct {
         @include text(20px, 400, 24px);
         color: #ffffff;
         margin-top: 20px;
      }
      .group-btn {
         @include flex;
         flex-direction: row;
         margin-top: 46px;
         input {
            @include text(24px, 400, 26px);
            padding: 18px 22px;
            width: 100%;
            background: transparent;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            border: 1px solid #ffffff;
            color: #ffffff;
            cursor: pointer;
            &::placeholder {
               color: #ffffff;
            }
            &:focus {
               background: rgba(255, 255, 255, 0.1);
               outline: none;
            }
            &:hover {
               background: rgba(255, 255, 255, 0.1);
            }
         }
         button {
            @include text(24px, 600, 30px);
            background: transparent;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border: 1px solid #ffffff;
            color: #ffffff;
            cursor: pointer;
            padding: 16px 27px;
            text-transform: uppercase;
            border-left: none;
            &:hover {
               background: rgba(255, 255, 255, 0.1);
            }
         }
      }
   }
}

.suprise {
   position: fixed;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   z-index: 5;
   background-color: rgba(0, 0, 0, 0.6);
   backdrop-filter: blur(3px);
   height: 100vh;
   width: 100vw;
   span {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #b8a0a0;
      font-weight: bold;
      cursor: pointer;
      border-radius: 50%;
      &:hover {
         background-color: #837575;
      }
   }
   .letter {
      width: 353px;
      margin-left: 100px;
      background-color: #fff;
      padding: 40px;
      border: 2px solid #c72a2a;
      h3 {
         margin-bottom: 20px;
         font-size: 24px;
      }
      p {
         text-align: justify;
      }
   }
   img {
      width: 390px;
      height: 550px;
      border: 2px solid #c72a2a;
      margin-right: 100px;
   }
}
